@import "../../var";


.Container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 3rem;
  background-color: #f7f7f7;
  @include flex;
  z-index: 98;
  transition: ease-out 200ms;
  transition-property: opacity, visibility;

  @include tablet-desktop {
    padding-top: 3.5rem;
  }

  &.AdminLoading {
    @include desktop {
      padding-top: 0;
      padding-left: 13rem;
      padding-right: 1rem;
    }
  }
}