@import "../../../var";

.Page {
  width: 100%;
  flex-grow: 1;
  @include flex($wrap: nowrap);
  padding-top: 2.5rem;

  @include desktop {
    max-width: 1000px;
  }

  @include tablet-desktop {
    padding-top: 3rem;
  }

  &.PageSignIn {
    padding-bottom: 3rem;
  }

  &.PageAdmin {
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 2.5rem;

    @include tablet {
      padding-bottom: 3rem;
    }

    @include desktop {
      max-width: calc(1000px + 16rem);
      padding-top: 0;
      padding-left: 14rem;
      padding-right: 2rem;
      padding-bottom: 3.5rem;
    }
  }

  &.PageUser {
    text-align: center;
  }

  * {
    text-align: inherit;
  }
}