@import "../../../var";

.SwitchContainer {
  height: 28px;
  display: grid;
  position: relative;
  border: 4px solid white;
  border-radius: 2rem;
  background-color: white;
  @include shadow;

  @include tablet-desktop {
    height: 32px;
  }
}

.Switch {
  position: relative;
  height: 100%;
  padding: 0 6px;
  @include fontCaption($bold);
  @include flex;
  cursor: pointer;
  z-index: 5;
  transition: all 250ms ease-in-out;
}

.SwitchTypeActive {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 2rem;
  transition: all 250ms ease-in-out;
}

.IconContainer {
  position: relative;
  height: 100%;
  @include flex;

  img {
    transition: all 250ms ease-in-out;
  }

  img:nth-child(2) {
    position: absolute;
  }
}

.ChartSwitch {

  .IconContainer img {
    height: 0.8rem;
  }
}

.ResultSwitch {
  width: 75px;

  @include tablet-desktop {
    width: 100px;
  }

  .IconContainer img {
    height: 1.1rem;
  }
}

.adminUsersSwitch {
  width: 5rem;

  .IconContainer img {
    height: 1rem;
  }
}