@import "../../var";

.Container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 320px;
  height: 100%;
  padding-top: 3rem;

  @include tablet-desktop {
    padding-top: 3.5rem;
  }
}

.ResultSlide {
  padding: 1.3rem 1rem 1rem;
  @include flex;
}

.ResultSlideContainer {
  @include flex($wrap: nowrap);
  width: 100%;
  height: 100%;
  max-width: 640px;
  max-height: 540px;
  position: relative;
}