@import "../../../var";

.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 320px;
  height: 3rem;
  padding: 0 1rem;
  z-index: 100;
  background-color: white;
  box-shadow: 0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.05);
  @include flex;

  @include tablet-desktop {
    height: 3.5rem;
  }
}

.Container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  @include flex(row, space-between);

  * {
    @include flex(row);
  }
}

.Logo {
  height: 21px;

  @include tablet-desktop {
    height: 27px;
  }

  img {
    height: 100%;
  }
}

.LinkContainer {
  >* {
    margin: 0 0.4rem;

    @include tablet-desktop {
      margin: 0 0.7rem;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.Link {
  color: rgba($color: $color-text, $alpha: 0.5);
  transition: all 100ms ease-out;
  @include fontBody($bold);
}

.SignInLink {
  color: $color-accent1;
}

.SignUpLink {
  height: 27px;
  color: white;
  background-color: $color-accent1;
  padding: 0 0.6rem;
  border-radius: 2rem;

  @include tablet-desktop {
    height: 2rem;
  }
}

.ProfileImg {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: $color-accent2;
  border-radius: 10rem;
  cursor: pointer;

  >div {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  img {
    height: 34px;
    border-radius: 2.5rem;
  }
}

.DropDownButton {
  height: 12px;
}

.SignIn {
  .LinkContainer {
    display: none;

    @include tablet-desktop {
      @include flex(row);
    }

    >*:hover {
      color: $color-text;
    }
  }
}

.DropDown {
  background-color: white;
  box-shadow: 0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.05);
  @include flex;
  visibility: hidden;
  transition: all ease-in-out 250ms;

  &.Active {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }

  * {
    @include flex(row);
  }

  >* {

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .DropDownImg {
    position: relative;
    background-color: $color-accent2;
    border-radius: 10rem;
    flex-shrink: 0;

    >div {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    img {
      border-radius: 10rem;
    }
  }

  .DropDownName {
    overflow: hidden;

    >div {
      display: block;
      width: 100%;
      line-height: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      justify-content: flex-start;
      transition: all ease-in-out 200ms;
    }
  }
}

.DropDownMobile {
  position: fixed;
  top: 3rem;
  left: 0;
  width: 100%;
  padding: 1.5rem 1rem;
  z-index: 99;
  transform: translateY(-100%);
  align-items: flex-start;

  * {
    text-align: left;
  }

  >* {
    margin: 0.6rem 0;
  }

  .DropDownImgContainer {
    width: 100%;
    flex-wrap: nowrap;
  }

  .DropDownImg {
    width: 70px;
    height: 70px;

    img {
      height: 62px;
    }
  }

  .Link {
    @include fontH4
  }

  .DropDownName {
    flex-grow: 1;
    margin-left: 1rem;
    @include flex($align: flex-start);

    >div {
      height: 1.8rem;
      @include fontH3;
    }
  }

  .EditLink {
    width: 5.7rem;
    justify-content: flex-start;
    margin-top: 0.3rem;

    img {
      height: 0.8rem;
      margin-right: 0.3rem;
    }
  }

  .Line {
    width: 100%;
    height: 3.5px;
    border-radius: 1rem;
    background-color: #F1F2F3;
  }
}

.NavRef {
  z-index: 99;
  box-shadow: none;
  background-color: transparent;
}

.DropDownDesktop {
  position: absolute;
  top: 1.75rem;
  right: 0;
  width: 15rem;
  padding: 1rem;
  border-radius: $radius;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  transform: translateY(calc(-100% - 0.65rem));
  opacity: 0;

  >* {
    margin: 0.5rem 0;
  }

  .DropDownImg {
    width: 85px;
    height: 85px;

    img {
      height: 77px;
    }
  }

  .DropDownName {
    width: 100%;
    overflow: hidden;

    >div {
      height: 1.4rem;
      @include fontH4;
    }
  }

  .EditLink {
    margin-top: 0.2rem;
    @include fontCaption;

    img {
      height: 0.8rem;
      margin-right: 0.3rem;
    }
  }

  .SignOut {
    &:hover {
      color: $color-text;
    }
  }
}