@import "../../../../var";

.ModalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  z-index: 200;
  visibility: hidden;
  transform: scale(1.05);
  transition: all 200ms ease-out;
  @include flex
}

.ModalContainer-enter {
  visibility: hidden;
  transform: scale(1.05);
  opacity: 0;
}

.ModalContainer-enter-active {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}

.ModalContainer-enter-done {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}

.ModalContainer-exit {
  visibility: visible;
  opacity: 1;
}

.ModalContainer-exit-active {
  visibility: hidden;
  opacity: 0;
}

.ModalContainer-exit-done {
  visibility: hidden;
  opacity: 0;
}

.BackDrop {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba($color: #3b4251, $alpha: 0.5);
  width: 100%;
  height: 100%;
}

.Modal {
  background-color: white;
  max-width: 27rem;
  max-height: 90%;
  padding: 2rem 1.5rem;
  border-radius: $radius;
  @include shadow;
  @include flex($wrap: nowrap);
  z-index: 201;
}

.ModalResult {
  width: 100%;
  max-width: 38rem;
  position: relative;
  align-items: flex-start;

  * {
    text-align: left;
  }
}

.ModalTitle {
  @include fontH4;
  line-height: 1.2;
  margin: 1rem 0 0.3rem;

  &:nth-child(1) {
    margin-top: 0;
  }
}

.ModalDetail {
  >div {
    display: inline-block;
  }
}

.ModalCloseButton {
  position: absolute;
  top: -13px;
  right: -13px;
  background-color: $color-accent1;
  width: 26px;
  height: 26px;
  border-radius: 20px;
  border: 2.5px solid white;
  cursor: pointer;
  @include flex;

  img {
    height: 50%;
  }
}

.ModalFilter {
  max-width: none;
  position: relative;
  align-items: flex-start;

  * {
    text-align: left;
  }

  width: 20rem;

  @include tablet-desktop {
    width: 31rem;
  }
}

.ModalChat {
  width: 100%;
  max-width: 20rem;
  position: relative;
}