@import "../../../var";

.Article {
  width: 100%;
  margin: 0.5rem 0;
  @include box;

  .TitleBar {
    @include flex(row, space-between, $wrap: nowrap);
  }

  .Title {
    @include fontBody($bold);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .LinkContainer {
    width: 4rem;
    margin-left: 1.5rem;
    flex-shrink: 0;
    @include flex(row, space-between);

    img {
      height: 0.7rem;
    }

  }

  .Detail {
    margin-top: 0.2rem;
    @include fontCaption;
    color: $color-detail;
    @include flex(row, flex-start);


    img {
      height: 10px;
      margin-right: 0.4rem
    }
  }
}

.NoArticle {
  width: 100%;
  flex-grow: 1;
  @include flex;

  img {
    height: 9rem;
    opacity: 0.1;
  }

  .Title {
    @include fontH3;
    margin: 1rem 0;
  }
}