@import "../../var";

.InfoTitle {
  @include fontCaption($bold);
}

.InfoUnit {
  @include fontCaption(500);
  color: $color-detail;
}

.InfoCriteria {
  min-width: 3.2rem;
  padding: 0.3rem 0.5rem;
  border-radius: 2rem;
  @include fontCaption($bold);
  background-color: $color-accent2;
  color: white;
  line-height: 1;
}

.InfoValue {
  @include fontH2(300);
  line-height: 1.1;
}