@import "../../var";

.AvatarEditorContainer {
  position: relative;

  >canvas {
    border-radius: $radius;
    display: block;
  }

  .Move {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    @include flex;
    pointer-events: none;
    touch-action: none;

    >div {
      width: 20%;
      height: 20%;
      background-color: $color-text;
      border-radius: 20rem;
      @include flex;
      opacity: 0.65;

      >img {
        width: 75%;
      }
    }
  }
}

.ZoomDrag {
  width: 100%;
  height: 1.4rem;

  @include flex(row);

  >img {
    height: 100%
  }

  .DragContainer {
    flex-grow: 1;
    height: 100%;
    position: relative;
    margin: 0 0.5rem;
    @include flex;
  }

  .DragLine {
    background-color: #dedede;
    border-radius: $radius;
    height: 50%;
    width: 100%;
  }

  .Drag {
    position: absolute;
    left: 0;
    width: 1.4rem;
    height: 1.4rem;
    background-color: $color-accent1;
    border-radius: 1.4rem;
    @include shadow;
    cursor: pointer;
  }
}

.UploadButton {
  position: relative;
  margin: 0.8rem 0 1.65rem;

  >input {
    width: 5.3rem;

    &::-webkit-file-upload-button {
      height: 1.2rem;
      background-color: transparent;
      opacity: 0;
      cursor: pointer;
    }

    &.UploadInput {
      height: 1.2rem;
      background-color: transparent;
      opacity: 0;
      cursor: pointer;
    }
  }

  >div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: $color-accent1;
    @include fontBody($bold);
    @include flex(row);

    >img {
      height: 1.2rem;
      margin-right: 0.5rem;
    }
  }
}

.ButtonContainer {
  text-align: center;
  @include flex(row);
  width: 100%;

  >div {
    width: calc((100% - 0.7rem) / 2);
  }

  .Cancel {
    @include button(cancel);
    margin-right: 0.7rem;
  }

  .Save {
    @include button(primary);
  }
}

.Rotate {
  width: 100%;
  margin: 1.15rem 0 0.8rem;
  @include flex(row);

  >div {
    background-color: $color-accent1;
    height: 1.8rem;
    width: 3.2rem;
    @include flex;
    border-radius: $radius;
    cursor: pointer;

    >img {
      position: relative;
      top: -0.05rem;
      height: 1.3rem;
    }

    &:nth-child(1) {
      margin-right: 0.8rem;
    }
  }
}