@import "./var";
@import "./assets/style/font/font.css";
@import "./assets/Admin/Admin.scss";
@import "./assets/Admin/Quill.scss";

html,
body {
  width: 100%;
  min-width: 320px;
  min-height: 518px;
  height: 100%;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

#root {
  min-height: 100%;
  padding: 3rem 1rem 0;
  @include flex;
  background-color: #f7f7f7;
  transition: all 100ms ease-out;

  @include tablet-desktop {
    padding: 3.5rem 1rem 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Prompt;
  //text-align: center;
  text-decoration: none;
  color: $color-text;
  border: none;
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
  font-size: 14px;

  @include tablet-desktop() {
    font-size: 16px;
  }

  &:focus {
    outline: none;
    box-shadow: none;
    border: none;
  }
}

.NavLinkActive {
  color: $color-text !important;
}

.Link {
  color: $color-accent1;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.PageTitle {
  @include fontH3;
}

.AdminLinkActive {
  background-color: $color-accent1;
  color: white !important;
}